---
console.log('This runs in your terminal, not the browser!');
---

<html>
  <body>
    <h1>Hola, mundo!</h1>
    <p>Bienvenido a mi blog construido con Astro.js.</p>
  </body>
</html>

<style>
  h1 {
    color: orange;
  }
</style>
